header {
  .header_wrapper{
    .header_top{
      height: 28px;
      background: #F4F4F4;
      .header_top_wrapper{
        display: flex;
        justify-content: space-between;
        .header_top_phone{
          display: flex;
          img {
             align-self: center;
          }
          a {
            align-self: center;
            color: black;
            text-decoration: none;
            padding-left: 17px;
            &:hover{
              color: #99C63C;
            }
          }
        }
        .header_top_lang{
          display: flex;
          img{
            align-self: center;
            padding-right: 6.25px;
          }
           .dropdown {
             align-self: center;
             .btn.btn-secondary.dropdown-toggle{
               padding-top: 2px;
               padding-bottom: 2px;
               border: none;
               background-color: transparent;
               color: black;
             }
           }
        }
      }

    }
    .header_main{
      height: 98px;
      box-shadow: 0 0 12px rgba(72, 79, 78, 0.17);

     .navbar.navbar-expand-lg.navbar-light.bg-white{
       padding: 15px 0 15px 0;
       .container-fluid{
         padding: 0;
         .header_main_search{
           a {
             padding: 0 66px 0 46px;
           }
         }
         .collapse.navbar-collapse{
           .header_user {
             a {
               padding-right: 20px;
             }
           }
         }
       }


     }
    }
  }
}
